header {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(190, 52, 52);
    text-align: center;
    padding: 20px;
    font-size: 50px;
    
}

body {
    background-image: url("asset/ILL-Skeleton.png");
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-size: cover;

    margin: 0;
    overflow: hidden;

    color: azure;
  }

  #content {
    padding: 20px;
    box-sizing: border-box;

    overflow: auto;
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 0;
  }
  #content::-webkit-scrollbar {
    display: none;
}

div.left {
    float: left;
    width: 45%;
    background-color: rgba(97, 97, 97, 0.4);
    color: #fff;
    text-align: left ;
    padding: 20px;
    font-size: 40px;
    border-radius: 10px 10px 10px 10px;
}

div.right {
    float: right;
    width: 45%;
    background-color: rgba(97, 97, 97, 0.4);
    padding: 20px;
    border-radius: 30px 30px 30px 30px;
}

img {
  max-width: 100%;
}

button {
    font-size: 50px;
    color:rgb(231, 77, 72);
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  button:hover {
    color:rgb(0, 0, 0);
    background-color: rgb(231, 77, 72);
    border-radius: 10px 10px 10px 10px;
  }

